In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df= pd.read_csv(r'C:\Users\acer\Downloads\movies\TMDB_movies.csv')
print(df)

          id                                          title  \
0        278                       The Shawshank Redemption
1      19404                    Dilwale Dulhania Le Jayenge
2        238                                  The Godfather
3        424                               Schindler's List
4        240                         The Godfather: Part II
...      ...                                            ...
9995   10196                             The Last Airbender
9996  331446                       Sharknado 3: Oh Hell No!
9997   13995                                Captain America
9998    2312  In the Name of the King: A Dungeon Siege Tale
9999  455957                                         Domino

                                                 genre original_language  \
0                                          Drama,Crime                en
1                                 Comedy,Drama,Romance                hi
2                                          Drama,Crime                en
3                                    Drama,History,War                en
4                                          Drama,Crime                en
...                                                ...               ...
9995                          Action,Adventure,Fantasy                en
9996  Action,TV Movie,Science Fiction,Comedy,Adventure                en
9997                        Action,Science Fiction,War                en
9998                    Adventure,Fantasy,Action,Drama                en
9999                             Thriller,Action,Crime                en

                                               overview  popularity  \
0     Framed in the 1940s for the double murder of h...      94.075
1     Raj is a rich, carefree, happy-go-lucky second...      25.408
2     Spanning the years 1945 to 1955, a chronicle o...      90.585
3     The true story of how businessman Oskar Schind...      44.761
4     In the continuing saga of the Corleone crime f...      57.749
...                                                 ...         ...
9995  The story follows the adventures of Aang, a yo...      98.322
9996  The sharks take bite out of the East Coast whe...      12.490
9997  During World War II, a brave, patriotic Americ...      18.333
9998  A man named Farmer sets out to rescue his kidn...      15.159
9999  Seeking justice for his partner’s murder by an...      16.482

     release_date  vote_average  vote_count
0      1994-09-23           8.7       21862
1      1995-10-19           8.7        3731
2      1972-03-14           8.7       16280
3      1993-12-15           8.6       12959
4      1974-12-20           8.6        9811
...           ...           ...         ...
9995   2010-06-30           4.7        3347
9996   2015-07-22           4.7         417
9997   1990-12-14           4.6         332
9998   2007-11-29           4.7         668
9999   2019-05-31           4.6         221

[10000 rows x 9 columns]

In [6]:
df= df[['id','title','overview','genre']]

In [7]:
df

,id,title,overview,genre
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime"
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance"
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime"
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War"
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime"
...,...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo...","Action,Adventure,Fantasy"
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...,"Action,TV Movie,Science Fiction,Comedy,Adventure"
9997,13995,Captain America,"During World War II, a brave, patriotic Americ...","Action,Science Fiction,War"
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...,"Adventure,Fantasy,Action,Drama"
9999,455957,Domino,Seeking justice for his partner’s murder by an...,"Thriller,Action,Crime"

In [8]:
df['tags']=df['overview']+df['genre']

In [9]:
df

,id,title,overview,genre,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War",The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime",In the continuing saga of the Corleone crime f...
...,...,...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo...","Action,Adventure,Fantasy","The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...,"Action,TV Movie,Science Fiction,Comedy,Adventure",The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ...","Action,Science Fiction,War","During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...,"Adventure,Fantasy,Action,Drama",A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...,"Thriller,Action,Crime",Seeking justice for his partner’s murder by an...

In [10]:
movies = df.drop(columns=['overview','genre'])

In [11]:
movies

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

In [14]:
cv=CountVectorizer(max_features=10000, stop_words='english')

In [15]:
cv

CountVectorizer(max_features=10000, stop_words='english')

In [17]:
vec=cv.fit_transform(movies['tags'].values.astype('U')).toarray()

In [19]:
vec.shape

(10000, 10000)

In [21]:
from sklearn.metrics.pairwise import cosine_similarity

In [22]:
s=cosine_similarity(vec)

In [23]:
s

array([[1.        , 0.05634362, 0.12888482, ..., 0.07559289, 0.11065667,
        0.06388766],
       [0.05634362, 1.        , 0.07624929, ..., 0.        , 0.03636965,
        0.        ],
       [0.12888482, 0.07624929, 1.        , ..., 0.02273314, 0.06655583,
        0.08645856],
       ...,
       [0.07559289, 0.        , 0.02273314, ..., 1.        , 0.03253   ,
        0.02817181],
       [0.11065667, 0.03636965, 0.06655583, ..., 0.03253   , 1.        ,
        0.0412393 ],
       [0.06388766, 0.        , 0.08645856, ..., 0.02817181, 0.0412393 ,
        1.        ]])

In [28]:
movies[movies['title']=="The Godfather"].index[0]

2

In [30]:
dist= sorted(list(enumerate(s[2])), reverse=True , key = lambda vec:vec[1])
for i in dist[0:5]:
    print (movies.iloc[i[0]].title)

The Godfather
The Godfather: Part II
Blood Ties
Joker
Bomb City

In [34]:
def recommand(df):
    index=movies[movies['title']==df].index[0]
    dist= sorted(list(enumerate(s[index])), reverse=True , key = lambda vec:vec[1])
    for i in dist[0:5]:
        print (movies.iloc[i[0]].title)

In [36]:
recommand("Zombieland")

Zombieland
Zombieland: Double Tap
Land of the Dead
Dawn of the Dead
Tel chi el telùn

In [37]:
import pickle

In [38]:
pickle.dump(movies, open('movies_list.pkl','wb'))

In [39]:
pickle.dump(s, open('similarity.pkl','wb'))

In [40]:
pickle.load(open('movies_list.pkl','rb'))

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...